.theme-white {
    --color-background: #FFFFFF;
    --color-footer-mobile-1: #fafafa;
    --color-footer-mobile-2: #e6e6e6;
    --color-background-code: #fafafa;
    --color-border: #666;
    --color-scrollbar: #AAA;
    --color-meta: #666;
    --color-meta-code: #808080;
    --color-link: rgba(212, 128, 170, 1);
    --color-text: #383838;
    --color-accent-3: #8c8c8c;
    --color-accent-2: #383838;
    --color-accent-1: #2bbc8a;
    --color-quote: #2bbc8a;
}
