<!DOCTYPE html>
<html lang="en" th:fragment="html (title, content, header, navbar)">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title th:text="${#strings.defaultString(title, site.title)}"></title>
    <link rel="stylesheet" th:href="@{/assets/dist/style.css}" href="./assets/dist/style.css" />
    <!-- jquery -->
    <script th:src="@{/assets/lib/jquery/jquery.min.js}"></script>
    <script th:src="@{/assets/dist/main.iife.js}"></script>
  </head>
  <body th:class="'theme-'+${theme.config?.styles?.color_schema}">
    <div class="max-width mx-auto px3 ltr">
      <th:block th:replace="${navbar}" />

      <div class="mh-full content index py4">
        <th:block th:replace="${header}" />

        <th:block th:replace="${content}" />

        <footer id="footer">
          <div class="footer-left">
            <halo:footer />
            Theme is
            <a href="https://github.com/guqing/halo-theme-higan">higan</a>
            Powered by Halo ©
            <span
              id="site_date"
              th:with="now=${#temporals.createNow()}"
              th:text="${#temporals.format(now, 'yyyy')}"
            ></span>
            <span th:text="${site?.title}"></span>
          </div>
          <div class="footer-right">
            <ul>
              <li th:each="menuItem : ${menuFinder.getPrimary()?.menuItems}">
                <a
                  th:href="${menuItem.status?.href}"
                  th:target="${menuItem.spec.target?.value}"
                  th:aria-label="'Menu named ' + ${menuItem.status?.displayName}"
                  th:text="${menuItem.status?.displayName}"
                  >
                  menu-name
                  </a>
              </li>
            </ul>
          </div>
        </footer>
      </div>
    </div>
  </body>
</html>
