<th:block  th:fragment="pagination">
  <div class="pagination">
    <a th:href="@{${posts.prevUrl}}" th:if="${posts.hasPrevious()}">
      <i class="iconify iconify-middle" data-icon="material-symbols:chevron-left"></i>
    </a>
    <span
      class="page-number"
      th:with="totalPage=${posts.totalPages}"
      th:text="'Page ' + ${posts.page} + ' of ' + ${totalPage}"
      >Page 1 of 1</span
    >
    <a th:href="@{${posts.nextUrl}}" th:if="${posts.hasNext()}">
      <i class="iconify iconify-middle" data-icon="material-symbols:chevron-right"></i>
    </a>
  </div>
</th:block>
