<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" th:fragment="navbar">
  <div id="header-post">
    <a id="menu-icon" href="#" aria-label="Expand more menus">
      <i class="iconify iconify-middle" data-icon="material-symbols:menu"></i>
    </a>
    <a id="menu-icon-tablet" href="#"><i class="iconify iconify-middle" data-icon="material-symbols:menu"></i></a>
    <a id="top-icon-tablet" href="#" onclick="$('html, body').animate({ scrollTop: 0 }, 'fast');" style="display: none"
      ><i class="iconify iconify-middle material-symbols:keyboard-arrow-up"></i
    ></a>
    <span id="menu">
      <span id="nav">
        <th:block th:insert="~{fragments/common :: menu(showIcon=false)}"></th:block>
      </span>
      <br />

      <span id="actions" th:with="postCursor=${postFinder.cursor(post.metadata?.name)}">
        <ul>
          <li>
            <a class="icon" th:if="${postCursor.hasPrevious()}" aria-label="Navigate to the previous post" th:href="${postCursor.previous?.status?.permalink}">
              <i class="iconify iconify-large"
                  data-icon="mdi:chevron-left"
                  onmouseover="$('#i-prev').toggle();"
                  onmouseout="$('#i-prev').toggle();"
              ></i>
            </a>
          </li>

            <li>
            <a class="icon" th:if="${postCursor.hasNext()}" aria-label="Navigate to the next post" th:href="${postCursor.next?.status?.permalink}">
              <i class="iconify iconify-large"
                data-icon="ic:round-chevron-right"
                onmouseover="$('#i-next').toggle();"
                onmouseout="$('#i-next').toggle();"
              ></i>
            </a>
            </li>

        <li><a class="icon" href="#" onclick="$('html, body').animate({ scrollTop: 0 }, 'fast');" aria-label="Back to top">
            <i class="iconify iconify-large"
              data-icon="material-symbols:keyboard-arrow-up"
              onmouseover="$('#i-top').toggle();"
              onmouseout="$('#i-top').toggle();"
            ></i>
          </a></li>
        <li><a class="icon" href="#" aria-label="Share post to social media">
            <i class="iconify iconify-middle"
              data-icon="mdi:share-variant-outline"
              onmouseover="$('#i-share').toggle();" onmouseout="$('#i-share').toggle();"
              onclick="$('#share').toggle();return false;"
            ></i>
          </a></li>
        </ul>

        <span id="i-prev" class="info" style="display:none;">Previous post</span>
        <span id="i-next" class="info" style="display:none;">Next post</span>
        
        <span id="i-top" class="info" style="display:none;">Back to top</span>
        <span id="i-share" class="info" style="display:none;">Share post</span>
      </span>
      <br>
      <div id="share" style="display: none" th:with="permalink=${post?.status?.permalink}, title=${post?.spec?.title}">
        <th:block th:insert="~{fragments/common :: share}"></th:block>
      </div>
      <div id="toc"></div>
    </span>
  </div>
</html>
