.text-size-small {
  --text-xs: 0.75rem;
  --text-sm: 0.8125rem;
  --text: 0.875rem;
  --text-th: 0.8125rem;
}

.text-size-normal {
  --text-xs: 0.875rem;
  --text-sm: 0.9375rem;
  --text: 1rem;
  --text-th: 0.9375rem;
}