.text-size-small {
  --text-xs: 0.75rem;
  --text-sm: 0.8125rem;
  --text: 0.875rem;
  --text-th: 0.8125rem;
  --text-toc-level-2: 0.813rem;
  --text-toc-level-3: 0.75rem;
  --text-toc-level-4: 0.688rem;
  --text-h1: 1.5rem;
  --text-h2: 1.375rem;
  --text-h3: 1.25rem;
  --text-h4: 1.125rem;
}

.text-size-normal {
  --text-xs: 0.875rem;
  --text-sm: 0.9375rem;
  --text: 1rem;
  --text-th: 0.9375rem;

  --text-toc-level-2: 0.9375rem;
  --text-toc-level-3: 0.875rem;
  --text-toc-level-4: 0.813rem;

  --text-h1: 1.75rem;
  --text-h2: 1.5rem;
  --text-h3: 1.375rem;
  --text-h4: 1.25rem;
}

.text-size-large {
  --text-xs: 0.9375rem;
  --text-sm: 1rem;
  --text: 1.125rem;
  --text-th: 1rem;

  --text-toc-level-2: 1rem;
  --text-toc-level-3: 0.9375rem;
  --text-toc-level-4: 0.875rem;

  --text-h1: 2rem;
  --text-h2: 1.75rem;
  --text-h3: 1.5rem;
  --text-h4: 1.375rem;
}