.theme-dark {
    --color-background: #1d1f21;
    --color-footer-mobile-1: #a4a3a3;
    --color-footer-mobile-2: #27292B;
    --color-border: #908d8d;
    --color-scrollbar: #999;
    --color-meta: #908d8d;
    --color-meta-code: #908d8d;
    --color-link: rgba(212, 128, 170, 1);
    --color-text: #d5d7d8;
    --color-time: #adaeaf;
    --color-accent-3: #cccccc;
    --color-accent-2: #eeeeee;
    --color-accent-1: #2bbc8a;
    --color-quote: #ccffb6;
    --color-highlight-background: #212326;
    --color-background-code: #d5d7d8;
    --toc-level-2: #e3e3e3;
    --toc-level-3: #b0b0b0;
    --toc-level-4: #636363;
}
