.theme-light {
    --color-background: #e2e0de;
    --color-footer-mobile-1: #dddbd9;
    --color-footer-mobile-2: #cac6c3;
    --color-background-code: #dddbd9;
    --color-border: #666;
    --color-scrollbar: #999;
    --color-meta: #666;
    --color-meta-code: #808080;
    --color-link: rgba(43, 188, 138, 1);
    --color-text: #363533;
    --color-accent-3: #666666;
    --color-accent-2: #111111;
    --color-accent-1: #d44375;
    --color-quote: #ab2251;
}
