.theme-light {
  --color-background: #e2e0de;
  --color-footer-mobile-1: #666;
  --color-footer-mobile-2: #cac6c3;
  --color-footer-mobile-3: #dddbd9;
  --color-background-code: #dddbd9;
  --color-border: #666;
  --color-scrollbar: #999;
  --color-meta: #666;
  --color-meta-code: #808080;
  --color-link: rgba(43, 188, 138, 1);
  --color-text: #363533;
  --color-time: #3a3937;
  --color-accent-3: #666666;
  --color-accent-2: #111111;
  --color-accent-1: #d44375;
  --color-quote: #ab2251;
  --color-highlight-background: #212326;
  --color-card-hover: #dddbd9;
  --color-avatar-border: #dddbd9;
  --color-divide: #c3c3c3;
  --toc-level-2: #333;
  --toc-level-3: #333;
  --toc-level-4: #555;
}
