.theme-white {
  --color-background: #ffffff;
  --color-footer-mobile-1: #666;
  --color-footer-mobile-2: #e6e6e6;
  --color-footer-mobile-3: #fafafa;
  --color-background-code: #fafafa;
  --color-border: #666;
  --color-scrollbar: #aaa;
  --color-meta: #666;
  --color-meta-code: #808080;
  --color-link: rgba(212, 128, 170, 1);
  --color-text: #333333;
  --color-time: #595858;
  --color-accent-3: #676767;
  --color-accent-2: #383838;
  --color-accent-1: #2bbc8a;
  --color-quote: #2bbc8a;
  --color-highlight-background: #212326;
  --color-card-hover: #fafafa;
  --color-avatar-border: #fafafa;
  --toc-level-2: #383838;
  --toc-level-3: #666;
  --toc-level-4: #888;
}
