* {
  scrollbar-width: thin;
  scrollbar-color: #8b8b8b #959595;
}

*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-thumb {
  background: #8b8b8b;
  border-radius: 10px;
}

*::-webkit-scrollbar-track {
  background-color: none;
}

*::-webkit-scrollbar-button {
  background-color: #8b8b8b;
  border-radius: 5px;
}