<!DOCTYPE html>
<html
  xmlns:th="https://www.thymeleaf.org"
  th:replace="~{fragments/layout :: html(title=${site.title}, content = ~{::content}, header = ~{fragments/header::content}, navbar = ~{})}"
>
  <th:block th:fragment="content">
    <article class="author" itemscope itemtype="http://schema.org/BlogPosting">
      <section class="about">
        <div
          class="profile-container"
          th:style="|background-image: url(${#annotations.getOrDefault(author, 'halo.run/background-image', '')});|"
        >
          <div class="profile-wrap">
            <div class="profile-content">
              <img
                th:with="defaultLogo=${#theme.assets('/images/logo.png')}"
                th:src="${#strings.defaultString(author.spec.avatar, defaultLogo)}"
                class="profile-header-img"
              />
              <div class="profile-nickname-container">
                <p class="profile-nickname" th:text="${author.spec.displayName}"></p>
                <p class="profile-bio" th:text="${author.spec.bio}"></p>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="px-4 mt-16 sm:mt-20 mb-4">
        <div class="flex flex-col space-y-10">
          <th:block th:each="post : ${posts}">
            <div class="md:grid md:grid-cols-4 md:items-baseline">
              <div class="md:col-span-3 group relative flex flex-col items-start">
                <h2 class="static m-0 text-base font-semibold tracking-tight color-text">
                  <div class="absolute -inset-x-4 -inset-y-2 z-0 sm:-inset-x-6 sm:rounded-2xl"></div>
                  <a th:href="@{${post.status?.permalink}}">
                    <span class="absolute -inset-x-4 -inset-y-2 z-20 sm:-inset-x-6 sm:rounded-2xl"></span>
                    <span class="relative z-10" th:text="${post.spec.title}"></span>
                  </a>
                </h2>
                <time
                  class="md:hidden relative z-10 order-first mb-3 flex items-center text-sm color-accent-3 pl-3.5"
                  th:datetime="${#temporals.format(post.spec.publishTime, 'yyyy-MM-dd')}"
                >
                  <span class="absolute inset-y-0 left-0 flex items-center" aria-hidden="true">
                    <span class="h-4 w-0.5 rounded-full bg-zinc-200 dark:bg-zinc-500"></span>
                  </span>
                  <th:block th:text="${#temporals.format(post.spec.publishTime, 'MMMM dd yyyy')}"></th:block>
                </time>
                <p class="p-0 mb-0 relative z-10 mt-2 text-sm color-accent-3" th:text="${post.status?.excerpt}"></p>
                <div aria-hidden="true" class="relative z-10 mt-4 flex items-center text-sm font-medium color-accent-1">
                  Read article
                </div>
              </div>
              <time
                class="mt-1 hidden md:block relative z-10 order-first mb-3 flex items-center text-sm color-accent-3"
                th:datetime="${#temporals.format(post.spec.publishTime, 'yyyy-MM-dd')}"
                th:text="${#temporals.format(post.spec.publishTime, 'MMMM dd yyyy')}"
              >
              </time>
            </div>
          </th:block>
        </div>

        <div class="pagination">
          <a th:href="@{${posts.prevUrl}}" th:if="${posts.hasPrevious()}">
            <i class="iconify iconify-middle" data-icon="material-symbols:chevron-left"></i>
          </a>
          <span
            class="page-number"
            th:with="totalPage=${posts.totalPages}"
            th:text="'Page ' + ${posts.page} + ' of ' + ${totalPage}"
            >Page 1 of 1</span
          >
          <a th:href="@{${posts.nextUrl}}" th:if="${posts.hasNext()}">
            <i class="iconify iconify-middle" data-icon="material-symbols:chevron-right"></i>
          </a>
        </div>
      </section>
    </article>
  </th:block>
</html>
