<th:block
  xmlns:th="https://www.thymeleaf.org"
  th:replace="~{fragments/layout :: html(title=${site.title}, content = ~{::content}, header = ~{fragments/header::content}, navbar = ~{})}"
>
  <th:block th:fragment="content">
    <article class="author" itemscope itemtype="http://schema.org/BlogPosting">
      <section class="about">
        <div class="relative">
          <div
            class="absolute inset-x-0 inset-y-0 -z-20 head-cover"
            th:style="|background-image: url(${#annotations.getOrDefault(author, 'higan.guqing.github.io/author-header-image', '')});|"
          ></div>
          <div class="profile-wrap z-20">
            <div class="profile-content">
              <img
              th:with="defaultLogo=${#theme.assets('/images/logo.png')}, logoUri=${#strings.defaultString(author.spec.avatar, defaultLogo)}"
              th:src="${logoUri}"
              th:srcset="|${thumbnail.gen(logoUri, 's')} 400w|"
              sizes="400px"
              class="profile-avatar"
              width="100%"
              height="100%"
              alt="author avatar"
            />
              <div class="profile-nickname-container">
                <p class="profile-nickname" th:text="${author.spec.displayName}"></p>
                <p class="profile-bio" th:text="${author.spec.bio}"></p>
              </div>
            </div>
          </div>
        </div>
      </section>

      <div class="mt-16 sm:mt-20 flex-auto flex flex-col">
        <th:block th:insert="~{fragments/posts :: post-list-summary(${posts})}"></th:block>
      </div>
    </article>
  </th:block>
</th:block>
