<th:block
  xmlns:th="https://www.thymeleaf.org"
  th:replace="~{fragments/layout :: html(title=${category.spec.displayName}, content = ~{::content}, header = ~{fragments/header::content}, navbar = ~{})}"
>
  <th:block th:fragment="content">
    <div id="archive" class="content">
      <h2 th:text="'分类：' + ${category.spec?.displayName}">分类</h2>
      <ul class="post-list flex-auto">
        <li class="post-item" th:each="post : ${posts}">
          <div class="meta">
            <time
              th:datetime="${post.metadata?.creationTimestamp}"
              th:text="${#temporals.format(post.metadata?.creationTimestamp, 'MMMM dd yyyy')}"
              itemprop="datePublished"
            ></time>
          </div>
          <span>
            <a class="post-title" th:href="@{${post.status?.permalink}}" th:text="${post.spec?.title}"></a>
          </span>
        </li>
      </ul>
      <th:block th:insert="~{fragments/posts :: pagination}"></th:block>
    </div>
  </th:block>
</th:block>
