<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
  th:replace="fragments/layout :: html(title = '友情链接', content = ~{::content}, header = ~{fragments/header::content}, navbar = ~{})">
<th:block th:fragment="content">
  <article id="links" class="post" itemscope itemtype="http://schema.org/BlogPosting">
    <div class="content">
      <th:block th:each="group : ${groups}" th:if="${not #lists.isEmpty(group.links)}">
        <h3 th:if="${#lists.size(groups) > 1}" th:text="${group.spec.displayName}"></h3>
        <ul>
          <li th:each="link : ${group.links}">
            <a class="fir-image-figure" rel="noopener" target="_blank" th:href="${link.spec.url}">
              <figure class="fir-imageover ">
                <img loading="lazy" class="fir-author-image fir-clickcircle" th:src="${link.spec.logo}"
                  th:alt="${link.spec.displayName}">
                <figcaption>
                  <div class="fig-author-figure-title" th:text="${link.spec.displayName}"></div>
                  <div class="fig-author-figure-description" th:text="${link.spec.description}"></div>
                </figcaption>
              </figure>
            </a>
          </li>
        </ul>
    </div>
  </article>
</th:block>

</html>