<!DOCTYPE html>
<html
  xmlns:th="https://www.thymeleaf.org"
  th:replace="~{fragments/layout :: html(title = ${singlePage.spec.title}, content = ~{::content}, header = ~{fragments/header::content}, navbar = ~{})}"
>
  <th:block th:fragment="content">
    <article class="post" itemscope itemtype="http://schema.org/BlogPosting">
      <h1 th:text="${singlePage.spec?.title}">title</h1>
      <div class="content flex-auto" itemprop="articleBody" th:utext="${singlePage.content?.content}">
        singlePage formatted content
      </div>
      <div class="post-comment">
        <halo:comment group="content.halo.run" kind="SinglePage" th:name="${singlePage.metadata?.name}" colorScheme="commentColorScheme"/>
      </div>
      
      <!-- clipboard -->
    <script th:src="@{/assets/lib/clipboard/clipboard.min.js}"></script>
    <script type="text/javascript">
      $(function () {
        // copy-btn HTML
        const copySvg = `<svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24"><path fill="currentColor" d="M19 21H8V7h11m0-2H8a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h11a2 2 0 0 0 2-2V7a2 2 0 0 0-2-2m-3-4H4a2 2 0 0 0-2 2v14h2V3h12V1Z"/></svg>`
        $(".content figure pre").before(`<span class="btn-copy tooltipped tooltipped-sw" aria-label="Copy to clipboard!">${copySvg}</span>`);

        var clip = new ClipboardJS('.btn-copy', {
          text: function (trigger) {
            return Array.from(trigger.nextElementSibling.querySelectorAll('code')).reduce((str, it) => str + it.innerText + '\n', '')
          }
        });
        clip.on('success', function (e) {
          e.trigger.setAttribute('aria-label', "Copied!");
          e.clearSelection();
        })
      })
    </script>
    </article>
  </th:block>
</html>
