<!DOCTYPE html>
<html
  xmlns:th="https://www.thymeleaf.org"
  th:replace="fragments/layout :: html(title='标签列表', content = ~{::content}, header = ~{fragments/header::content}, navbar = ~{})"
>
  <th:block th:fragment="content">
    <h1>标签列表</h1>
    <ul th:if="${!#lists.isEmpty(tags)}">
      <th:block th:each="tag : ${tags}">
        <li>
          <a th:href="${tag.status?.permalink}">
            <th:block th:text="${tag.spec?.displayName} + '(' + ${tag.postCount} +')'"></th:block>
          </a>
        </li>
      </th:block>
    </ul>
  </th:block>
</html>
